<div class="auth">
  <h1 class= "text-center title">My Budget</h1>
  <div class="fixed-bottom">
    <%= link_to "LOG IN", new_user_session_path, class:"log-in-link" %><br />
    <%= link_to "SIGN UP", new_user_registration_path, class:"sign-up-link" %><br />
  </div>
<div>
